---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Knap from "../components/knap.astro";
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
<body>
        <Header />
        
    <main>
        <h1 id="overskrift">About us</h1>
        
        <img class="mainpic" src="../img/pic_about.png" alt="">

        <section class="tekst">
        <p>In Japan people love and admire Sakura blossom.</p> 
      </section>

      <section class="tekst2">
        <p>Almost everybody go out to enjoy its beauty together with families, friends, lovers, office-mates and so forth wherever and whenever Sakura bloom.</p> 
      </section>

      <section class="tekst3">
        <p>Once a year Sakura connects people and people meet people under Sakura trees. It is also the utmost and fundamental goal of the Committee.</p>
      </section>

        <section class="twopictures">
        <img class="secondpic" src="../img/kvinde_about.png" alt="">
        <img class="thirdpic" src="../img/trees_about.png" alt="">
      </section>

        <h1>See photos from earlier years</h1>

        <Knap class="knap" size="small"><a href="">See photos</a></Knap>
    </main>
  
</body>


<<<<<<< HEAD
</html>
=======
</html>

<style>
/* mobil */
 @media (max-width: 700px) {

.mainpic{
  width: 350px;
  margin-top: 4%;
  margin-left: 10%;
  margin-bottom: 4%;
}


.secondpic{
  width: 280px;
  position: relative;
  margin: 8%;
  left: 15%
}

.thirdpic{
  width: 150px;
  position: absolute; 
  left: 8%;
}
.knap {
  margin-left: 100%;
}

.tekst{
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.tekst2{
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.tekst3{
  margin-right: 5%;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

 }



 /* computer */
 @media (min-width: 700px) {

 }

img {
  max-width: 100%;
  border: 4px solid var(--pink);
  border-radius: 50%; 
}

/* Alt andet */

#overskrift{color: black;}
h1{
  color: var(--red);
}
</style>