---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Infobanner from "../components/infobanner.astro";
import Knap from "../components/knap.astro";
import Card from "../components/card.astro";
import signpic from "../img/signpic.png";
import kort from "../img/kort.png";
import Blomst from "../components/blomst.astro";
import Footer from "../components/footer.astro";
import Japansketegn from "../components/japansketegn.astro";
import Logo from "../components/logo.astro";
import Burgermenu from "../components/burgermenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>

  <body>
    <!-- <Header /> -->
    <header>
      <div>
        <Logo />
      </div>
      <div>
        <Burgermenu />
      </div>
    </header>
    
    <section class="hero">
      <img class="venstre_blomstergren" src="/img/blomst-modsat.png" alt="Blomstergren">
      <Japansketegn />
      <h1 class="hero_h1">Sakura Festival</h1>
      <h2>Copenhagen 2023</h2>
      <img class="højre_blomstergren" src="/img/blomstergren.png" alt="Blomstergren">
      <div class="infobanner">
        <Infobanner />
      </div>
    </section>

    <div class="knap_center">
      <Knap size="large"><a href="">Explore the 2023 pogram</a></Knap>
    </div>

    <section class="booths">
      <h1>Check out the booths</h1>
      <Blomst />

      <div class="to_knapper">
        <div class="knap_center">
          <Knap size="small"><a href="">All booths</a></Knap>
        </div>
        <div class="knap_center">
          <Knap size="small"><a href=""> Map</a></Knap>
        </div>
      </div>
    </section>

    <section class="sign_up">
      <div class="text_signup">
        <h1 class="h1_red">Do you want to be a part of the festival?</h1>
        <p>
          Are you interested in participating in the festival as a booth-holder,
          artist or any other connection? <br /><br /> Contact us at info@ch.mofa.go.jp
          or
        </p>
        <Knap size="small"><a href=""> Sign Up</a></Knap>
      </div>

      <div class="img_signup">
        <img src={signpic} alt="sakura dancing girls" />
      </div>
    </section>

	<section class="location">
		<h1>Festival location</h1>
		<p>Langelinie Park, Nordre Toldbod, 1259 København K</p>
	<img src={kort} alt="kort over festivallens lokation">
	</section>
    <Footer />
  </body>

  <style>
    /* mobil */
    @media (max-width: 700px) {
      .hero_h1 {
        font-size: 70px;
        margin-top: 20%;
        text-align: center;
        margin-bottom: 0;
      }
      h1 {
        text-align: center;
        margin-top: 10%;
      }
      h2 {
        text-align: center;
        margin-bottom: 20%;
      }
      .knap_center {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .infobanner {
        margin-left: 5%;
      }
      .sign_up img {
        display: none;
      }
	  .location img {
		max-width: 100%;
		border: solid 6px var(--pink);
	  }
    }

    /* desktop */
    @media (min-width: 700px) {
      .hero_h1 {
        font-size: 120px;
        margin-bottom: 0;
        margin-top: 10%;
        text-align: center;
      }

      header{
      margin: 2%;
      display: flex;
      flex-direction: row;
      align-items: top;
      justify-content: center;
    }
      h1 {
        text-align: center;
        margin-top: 5%;
      }
      h2 {
        text-align: center;
        margin-bottom: 10%;
      }
      .knap_center {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .sign_up img {
       max-height: 600px;
      }
	  .sign_up {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 2em;
	  }
	  .img_signup {
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .location img {
    margin-top: 5%;
		max-width: 60%;
		border: solid 6px var(--pink);
	  }
    }

    .to_knapper {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      gap: 10%;
      margin-top: 5%;
    }
    .sign_up {
      background-color: #E8D0E1;
      margin-top: 5%;
      margin-bottom: 5%;
    
    }
    .h1_red {
      color: var(--red);
      text-align: left;
      margin-bottom: 5%;
    }
	  .sign_up p {
		margin-bottom: 5%;
	  }

	.text_signup {
		padding: 10%;
	}
	.location {
		text-align: center;
	}

  .venstre_blomstergren{
    width: 28%;
    margin-bottom: -25%;
    position: absolute;
    left: 1%;
    top: -10%;
    z-index: -1;
  }

  .højre_blomstergren{
    width: 23%;
    display: -webkit-box;
    margin-left: auto;
    margin-top: -20%;
    margin-right: 0%;

  }
  </style>
</html>
