---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Infobanner from "../components/infobanner.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Header />  
  <body>

    <h1>Sakura Festival</h1>
    <h2>Copenhagen 2023</h2>

	<Infobanner />

  </body>
  <footer></footer>
</html>

<style>
/* mobil */
@media (max-width: 800px) {
	h1 {
		margin-top: 20%;
		text-align: center;
	}
	h2 {
		text-align: center;
		margin-bottom: 20%;
	}
	
	}


/* desktop */
@media (min-width: 800px) {
	h1 {
		margin-top: 10%;
		text-align: center;
	}
	h2 {
		text-align: center;
		margin-bottom: 10%;
	}
	
	}
</style>