---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Infobanner from "../components/infobanner.astro";
import Knap from "../components/knap.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <Header />
    <section class="hero">
      <h1 class="hero_h1">Sakura Festival</h1>
      <h2>Copenhagen 2023</h2>
      <div class="infobanner">
        <Infobanner />
      </div>
    </section>

    <div class="knap_center">
      <Knap size="large"><a href="">Explore the 2023 pogram</a></Knap>
    </div>

    <section class="booths">
      <h1>Check out the booths</h1>

	<div class="to_knapper">
      <div class="knap_center">
        <Knap size="small"><a href="">All booths</a></Knap>
      </div>
      <div class="knap_center">
        <Knap size="small"><a href=""> Map </a></Knap>
      </div>
	</div>
    </section>
    <footer></footer>
  </body>

  <style>
    /* mobil */
    @media (max-width: 700px) {
      .hero_h1 {
        font-size: 70px;
        margin-top: 20%;
        text-align: center;
        margin-bottom: 0;
      }
      h1 {
        text-align: center;
        margin-top: 10%;
      }
      h2 {
        text-align: center;
        margin-bottom: 20%;
      }
      .knap_center {
        text-align: center;
      }
      .infobanner {
        margin-left: 5%;
      }
    }

    /* desktop */
    @media (min-width: 700px) {
      .hero_h1 {
        font-size: 120px;
        margin-bottom: 0;
        margin-top: 10%;
        text-align: center;
      }
      h1 {
        text-align: center;
        margin-top: 5%;
      }
      h2 {
        text-align: center;
        margin-bottom: 10%;
      }
      .knap_center {
        text-align: center;
      }
    }
	.to_knapper {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
		gap: 10%;
		margin-top: 5%;
	}
  </style>


</html>
