---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Knap from "../components/knap.astro";
import Card from "../components/card.astro";
import Saturdaylawn from "../components/saturdaylawn.astro";
import Sundaylawn from "../components/sundaylawn.astro";
import Programfilter from "../components/programfilter.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Program</title>
  </head>
  <body>
    <Header />

    <main>
      <h1>Program</h1>
      <div class="filter">
        <Programfilter />
      </div>
      <h1 class="h1_red">On the lawn</h1>
      <h2>Saturday</h2>
      <Saturdaylawn />

      <h2>Sunday</h2>
      <Sundaylawn />
    </main>
    <Footer />
  </body>
</html>

<style>
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  
@media (max-width:700px){
h2 {
    margin-left: 5%;
     font-size: 30px;
  }
   .h1_red {
    text-align: left;
    margin: 5%;
  }
}
@media (min-width:700px){
   h2 {
    margin-left: 2%;
    font-size: 40px;
  } 
   .h1_red {
    text-align: left;
    margin: 2%;
  }
}
</style>
