---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Event from "../components/event.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Singleview</title>
  </head>

  <body>
    <Header />
   <a href="/program/"><img src="/img/left-arrow-in-circle-outline.png" alt=""></a> 
    <Event 
    billede="wadaiko.png"
    navn="Wadaiko"
    arrangør="Seidokan"
    tid="10:45"
    sted="main stage"/>
    <Footer />

    <!-- <script src="../JS/singleview.js"></script> -->
  </body>
</html>

<script>
 const urlParams = new URLSearchParams(window.location.search);

/* får fat i produktet */
const id = urlParams.get("id");
if (id === null) {
  console.error('Error: id is null');
} else {
  const url = `https://sibqcdhthioufhaicwtr.supabase.co/rest/v1/Events_sakurafestival?q={"id":${id}}`;
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpYnFjZGh0aGlvdWZoYWljd3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NjY2NDIsImV4cCI6MTk5NDU0MjY0Mn0.ok8JScbWc_UQlhYc0UI3306aWJYFhl2a7zBfENidiSg",
    },
  };
  
  const response = await fetch(url, options);
  const visEvent = await response.json();
  
  console.log(visEvent);
}

</script>

<style>

    @media (max-width:700px) {
        a img {
            width: 40px;
        }
         a{
        position: absolute;
        top: 10;
        left: 8%;
    }
    }
    @media (min-width:700px) {
        a img {
            width: 50px;
        }
         a{
        position: absolute;
        top: 20%;
        left: 8%;
    }
}
</style>