<div class="site-container">
    <div class="flower-container">
      <img src="../public/img/mochitime.png" class="flower-image flower-image-lg">
      <img src="../public/img/bonsai.png" class="flower-image">
      <img src="../public/img/andersonbakery.png" class="flower-image">
      <img src="../public/img/saito.png" class="flower-image">
      <img src="../public/img/saki.png" class="flower-image">
      <img src="../public/img/sushi1.png"  class="flower-image">
      <img src="../public/img/singtehus.png" class="flower-image">
    </div>
  </div>
  
  <style>
    .site-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .flower-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      position: relative;
    }
  
    .flower-image {
      position: absolute;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      border: solid 4px var(--pink)
    }
  
    .flower-image-lg {
      width: 250px;
      height: 250px;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(2) {
      width: 150px;
      height: 150px;
      top: 65%;
      left: -2%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(3) {
      width: 150px;
      height: 150px;
      top: 95%;
      left: 50%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(4) {
      width: 150px;
      height: 150px;
      top: 10%;
      left: 100%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(5) {
      width: 150px;
      height: 150px;
      top: 10%;
      left: 1%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(6) {
      width: 150px;
      height: 150px;
      width: 150px;
      height: 150px;
      top: -15%;
      left: 50%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  
    .flower-image:nth-child(7) {
      width: 150px;
      height: 150px;
      top: 65%;
      left: 100%;
      border-radius: 50%;
      border: solid 4px var(--pink)
    }
  </style>
  