---
import "../CSS/style.css"

---
<nav>
    <ul>
        <li><a href="/index/">Home</a></li>
        <li><a href="/program/">Program</a></li>
         <li><a href="/about/">About Us</a></li>
    </ul>
</nav>



<style>
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
}
a {
    text-decoration: none;
    color: var(--black);
    
}
a:hover {
    color: var(--red);
}
     
</style>