---
import "../CSS/style.css";
const { link, billede, navn, arrangør, tid, sted } = Astro.props;
---

<a href={link}>
  <article>
    
    <img class="image" src={"/img/Billeder/" + billede} alt="billede af event" />
    <div class="overlay"></div>
    <div class="overlay_text">
      <h2>{navn}</h2>
      <p>{arrangør}</p>
    </div>
    <div class="pink_boks">
      <div class="lokation-tid">
        <div class="tid">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABwElEQVR4nO2WvS8EURTFJ7RLReJjE/Et0Yt/QdASRKFkt6OQKLUaHVqNsIgEEaVWZDviD1BpfBU+lp/cOJNMNuy+NzNR7Ukm2Xnv3HPPvn333g2CGmpIAH7wAtwAp0AOyP63gXJ8ArtAR1pJhhwMjAArwFVk7QkYT5p8CfgC5ioZKFsbBi4jp5GPm3xSyb/+EvnNgNbrgbWICb+TAJqBewnktGYXrMVTZ1Uaj0CrT+C2Ao/0ntf7jY8JoA44U+yma1AnUALewpKypEoex0S/9D6AdpeAZSU6LFtPYqKguAUX8rnIE7/sxTIBzCrm2IV8J/LgH/veJoDekO9i4FXkxgqcqImig2YmbE4uBp5EbqjCMxNF4MJBs8HHwK3IfUFKAAakee1CPhV5KkUDMz6XMCfyTooGbDoa5l3IWTUNa0RdKSTvkZZbIzIAW3JcCBICOJDWhk9QW6QaFhOOc8OD7yALbIRqlJbimFDykjRGfeODyBQ0AcM+0B24/ebhsX+G4zw2gDHNc3SZ7EZPq7YzegZUanvAe+TY433zcgBNwLpucjUYZ9PrD4grrIysloET62rAsx77fKw9t1KroYbgB9/rekJhc2IbOgAAAABJRU5ErkJggg=="
          />
          <p>{tid}</p>
        </div>
        <div class="lokation">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACZUlEQVR4nL3XS4iOURgH8HdccptxHQ2zMc1KTMgUY9ZEFENpbJFSllhgTTZuhWQx2VjIZSHjtiBZUEIWFrNAyP1+qUH46TRH8/m8H9/7fjPzr1On5945z3Oe5yRJDqAac7E0rrCvzmMrE7AInfiiB91x/d4H3sL+cDwJF/EdR7EM4wr449EWeUHmAur6yvl0PMKNsC9Dvgk38RDTKnU+EQ9wGiMy6I3EGdxHbSUBnMJtjMqZqHdwPK/zVvzEnFwGemzMizZa8igfwdkSvNk4iWdxncCsErLn0ZHV+WC8xtoU3pJYhpewIa7LkbY4RX4dXmJQlgDqY203FdFr8AoHUVVAr8KhyKsp0pkRbU3OEkBzVPojg9GOr2lJGZPuG1YW0Wujrea+CGATuv6h1xVkUko5YHaWABqj0tQi+qp41yNK1H44nfaUhyygIWsSdmNFEX0M3mBPis7eyBudcm2fMyVhAK5hV1IELI93fQ6rsSbuA60tRX4/riRZga24V4LXEt4IfIyrM+3BitXxGBvzBDAt3t3MzMq9NsKcENCY10AXtlcQwO7QD5IKDGyOiZWnGY3Ge6yvJIAavAvPbQ7dLXiRpY2nAjtDMmJIBp3heIpt5er8bxz7lOUUYgWFZja2XJ1yDL7FhDJk6/Ahz7X970jDeLWvDNkO3M1yZWUhvoBh4m39h8yCOAHNT/oDOBYT8q9PSOwTYRI+3C/OC3r7cxxI0ke4J32WeKUQPyU/Cn9ABbT+OfpihGSML2SYG6bEktuRDBQwDNdxK/4brmLogAWQ9D5QodWGsbx+QJ0XBNGQadRKwS/sg2x+xeQUBAAAAABJRU5ErkJggg=="
          />
          <p>{sted}</p>
        </div>
      </div>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABcUlEQVR4nO2UvUoDURCFV1KIxMZGFBERYiFGKw0GtBINYquPoE1ewF4IwRcwhmgrWAmxFX0EGyvTiD/Y2PiPAT8ZmIUp7m72x4CFBy4se86cM3v33vG8f8QFMA7sA7dAG7gDGkDOaCaAA+Xaqq1JbSfzEvCCG1/AJrClzy48AythnfvmTWAOyAJ5/SLBty5BHZhWjWhPTciYK8A3aQY0UDYB5QCNH7LnImUfBbMhW7gtK4QvqMeNi/xUMuslBNCvHh8usqXkVIqAvHpcu8hDJSspAqrq0XCR80rKSRpJYD4KvOohKASJjjXkDMjEMM8A51p7FCYcBB5UWIto3qN3QvAIDHUqWATetWAnQkBFtVKzEKUpKVo2x7YqXQZ0vmvGyFokc2OwYWZO3f4T3XN/W0SzHsvcGC2Z+XQC9AG95jC8AauJzE1IEXhSwwtd6LtiKnMTMinzxYzle2DmV8x9AMPAJXAll8rrBoABWV0x/7P4ATgpbEIURVD1AAAAAElFTkSuQmCC"
      />
    </div>
  </article>
</a>

<style>
  article {
    width: 250px;
    height: 250px;
    background-color: var(--pink);
    border-radius: 30px;
    overflow: hidden;
    color: white;
    position: relative;
    box-shadow: 8px 10px 25px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 8px 10px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 10px 25px 2px rgba(0,0,0,0.4);
    margin: 1em;
  }
  .image {
    width: 100%;
    height: 180px;
    position: relative;
  }
  .overlay {
    position: absolute;
    bottom: 70px;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.476);

  }
  .overlay_text {
    position: absolute;
    bottom: 80px;
    left: 5px;

  }

  .pink_boks {
    height: 60px;
  
    display: flex;
    flex-direction: row;
   justify-content: space-between;
  }
  .lokation {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .tid {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  h2 {
    font-weight: 600;
    font-size: 30px;
  }
  
  .image_overlay {
    background-color: (0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
