---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const { link, billede, navn, arrangør, tid, sted } = Astro.props;

const url =
  "https://sibqcdhthioufhaicwtr.supabase.co/rest/v1/Events_sakurafestival";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpYnFjZGh0aGlvdWZoYWljd3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NjY2NDIsImV4cCI6MTk5NDU0MjY0Mn0.ok8JScbWc_UQlhYc0UI3306aWJYFhl2a7zBfENidiSg",
  },
};

const response = await fetch(url, options);
const alleEvents = await response.json();

---

    <main>
      <div class="billede_div">
        <img class="billede" src={"/img/Billeder/" + billede } alt="billede af event" />
      </div>
      <div class="tekst">
        <div class="navn-favorit">
            <div class="navn">
        <h1>{navn}</h1>
        <h2 class="h2">{arrangør}</h2></div>
        <img class="favorit" src="/img/heart-2.png" alt="favorit"></div>

        <div class="info">
          <div class="tid">
            <img src="/img/clock.png" alt="time">
            <h2>{tid}</h2>
          </div>
          <div class="lokation">
            <img src="/img/location-2.png" alt="pin">
            <h2>{sted}</h2>
          </div>
        </div>
      </div>
    </main>

    <style> 
       @media (max-width: 700px) {
   .billede_div {
        text-align: center;
        margin-bottom: 5%;
    }
    h2{
        font-size: 20px;
        margin-left: 5%;
    }
    .h2 {
         margin-bottom: 10%;
    }
    h1 {
        text-align: left;
        margin-left: 5%
    }
    .info {
        text-align: left;
        margin-left: 5%;
    }
    .navn {
        text-align: left;
        margin-left: 5%;
   
    }
    .favorit {
        height: 50px;
     }
    .billede {
       border: 8px solid var(--pink); 
       border-radius: 50%;
       width: 300px;
       height: 300px;
       object-fit: cover;
    }
    .tid {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
   
     }
     .lokation {
        display: flex;
        align-items: center;
  
     }
     }


     @media (min-width: 700px) {
        .billede {
       border: 8px solid var(--pink); 
       border-radius: 50%;
       width: 400px;
       height: 400px;
       object-fit: cover;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4em;
    }
    h1 {
        text-align: left;
        margin-top: 5%;
    }
    h2 {
        font-size: 30px;
    }
    .h2 {
        margin-bottom: 10%;
    }
    .billede_div {
        text-align: right;
    }
    .tid {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        gap: 1em;
   
     }
     .lokation {
        display: flex;
        align-items: center;
        gap: 1em;
  
     }

     }

    
     .navn-favorit {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        margin-bottom: 10%;
     }
     main {
        margin-top: 10%;
     }
     .tid {
        margin-left: 4px;
     }
    </style>