---
import "../CSS/style.css"
---
<header>

<div>
<h3>Sakura Festival</h3>
<p>22 - 23 april</p>
</div>

<div>
    <h3>Burgermenu</h3>
</div>
</header>



<style>
/* mobil */
@media (max-width: 800px) {
header {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}
}

/* desktop */
@media (min-width: 800px) {
header {
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}
}


</style>