---
import "../CSS/style.css";
---

<section class="info-banner">
  <div>
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAB20lEQVR4nL2UvUokQRCA+4z0ARRB8NDMRDSQnSoVUbeKZdHMRB9B8DIjUd9ADhQUDe6USw4zDTRQBMHpGvEBFH/hTAwVA8WfPXr1uFVmZu2eWT8oGHpq5pvqniqlLBCCPiFY1ASHmuG2GASHZs3cU2mzl4evmnFbGAtxoRm3DrKdjelI+6FdGK/KSUviyjyTSBrkO+qF8dJC+lI54R/zrLNYEy7bSv8H/HA+VyF4dBYTPDqdtyb4Fv1SDCQLwwF7I8XriDyfccxezPAzQnrse17NvzxzbdZS227NuBlRyff3uWYt4iM37MWE6xG9uhrykasRFa9Zi8VMo/BWeRKCoZK8oeJaaC7MW4t9xrH4KQVHJuL7GUatxTqXaXXv4VdxNtOiXBDCC2cpw5mT1KAZF5zFBLPKFSHkBFvd6ywuTKsqITy3lhKcFJT6opKgCSbtxTiukuL3eQ3C8GBR7d0eQZ1KAyH49fGKYUmlhc5mWqKm09s/GZ+ce9d2dpeb44nZz0GHZnyOqzYgbFOVQAh+x4hXKiI1CHU3acL7EOn9fn9Xs6okmnEuZC7PqEqzm+uq1YTXJX17k1rflkMYp0r+5An1WfieV6MZTk3s9PRUf5q4KKfOwYBhwPUFfwGfqR8rYyPeTwAAAABJRU5ErkJggg=="
    />
    <h3>Langelinie Park</h3>
  </div> 
  <div>
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABf0lEQVR4nO1WwUrEMBDNXQVR8DO8CTsTpa52UhZRP8WTLHvzjxT9AC/apKC4sn+gHryJgicRl2mT7Vpa2q3By+7AHJIM8/LeZKYVYmFzZyaCA6PwxSj88eGa8FmT7NUCc6Av0BwcnuoZ22BPAjbPZxbA/y218exiAVy0KqluFaAO5XbbtaizyiHASSLcabsWc/e4kv2t9UbAs9awgb/GJA9rgWetYf5BwPM47ARD2lxi15Hc1QQX2Tl8JSFE/qUmPJ3kIUy0Au3WWkE/vZiCt4cgWPUGzEzL8vzeg8vsgnLgrcYsbz0wdrNLwtBbja+DYLmUAMGG27s5whWrzqc3qYvAWuEoqymOXCtNAb97+/Xh1zudh5lOwEM4SUkR7NlHeF8CLHttwLllirmYKYPGqrNmSV3Z2DPxV+PkPBxsq/Sr4gzJgWun2inW1Hgi8XCwQ4Jbpss1Z2d5c6b4bSI89gLqjCcSs6ksBZ/5BnXGEymVlPCRW8YQfBgFd1zTorxj8dO4sv4XFJ4AAAAASUVORK5CYII="
    />
    <h3>22 - 23 April - 11:00-16:00</h3>
  </div>
 
  <div>
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoElEQVR4nGNgGAWjYBSQAY66Woodd7U8dtzN6iADXS11s7p8ws3q/wlXq5N0sfSQh43oCTerS1BLr5/0MpUYtZRqYDR4B3fwHnezPH7CzfIMKO+Rk09BNCl64eC4m+VpUgygiqXYguyMu60kA71S7yEiLKdZljmEx3Ka59NDWCynW+FwFC3xUCUhEQtQfEnPWgbhc8vTIExzn46CUTBkAQBFTtlcgkVVWwAAAABJRU5ErkJggg=="
    />
    <h3>Free entrance</h3>
  </div>
</section>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--red);
    margin-bottom: 5%;
  }

  @media (min-width:700px) {
    .info-banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
  }


</style>
