---
import logo from '../img/logo.png'
---

<div>
    <img src={logo} alt="logo sakura festival">
</div>

<style>
@media (max-width: 800px){
 img {
        max-width: 100px;
    }    
}
@media (min-width: 800px){
 img {
        max-width: 150px;
    }    
}
</style>