:root {
/* farver */
    --bg-color: #E2E6EE;
    --text-color: #231F20;
    --red: #C8463A;
    --pink: #EEB8D3;

/* typografi */
--fontsize-large-mobil: 40px;
--fontsize-medium-mobil: 30px;
--fontsize-small-mobil: 15px;


--fontsize-large-web: 60px;
--fontsize-medium-web: 50px;
--fontsize-small-web: 20px;
}

@font-face {
    font-family: "hayamichi";
    src: url(../font/hayamichi-font/Hayamichi-ow73q.ttf);
}
@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--text-color);
    font-family: montserrat;
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
}

/* mobilsize */
@media (max-width: 700px) {   
h1 {
    font-size: var(--fontsize-large-mobil);
    font-family: hayamichi;
    font-weight: 300;
    text-align: center;
}
h2 {
    font-size: var(--fontsize-medium-mobil);
    font-weight: 400;
}
h3 {
    font-weight: 500;
}
p {
    font-size: var(--fontsize-small-mobil);
}
.knap a {
color: var(--red);
font-size: 20px;
font-weight: 500;
text-decoration: none;
}
.knap {
    margin-top: 10%;
}
}



/* desktop size */
@media (min-width: 700px) { 
h1 {
    font-size: var(--fontsize-large-web);
    font-family: hayamichi;
    font-weight: 400;
    text-align: center;
}
h2 {
    font-size: var(--fontsize-medium-web);
    font-weight: 400;
}
h3 {
    font-weight: 500;
}
p {
    font-size: var(--fontsize-small-web);
}
.knap a {
color: var(--red);
font-size: 25px;
font-weight: 500;
text-decoration: none;
}
}

